/*
sobre_mi
objetivo
experiencia
educación
software
*/

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	background-image: url("imagenes/painted-wall_Gy6AG8du_L.jpg");
	background-repeat: no-repeat;
	background-size: 1350px 2600px;
}

section{
	border: groove;
	margin: 17px;
	border-radius: 25px 50px 25px 50px;
	vertical-align: middle;
	display: inline-block;
}

section header{
	margin: auto;
}

section header div{
	display: inline-block;
	margin: auto;
}

section header div img{
	border-radius: 20px 30px 20px 30px;
	margin: 35px;
	width: 100%;
	height: 100%;
}

section header div.titulo{
	margin: 18px;
	border-left: groove;
}

section header div.titulo table{
	margin: 10px;
}

section header div.titulo table tr{
	text-align: center;

}

section header div.titulo table tr th{
	text-align: center;
}

section header div.titulo table tr td h1{
	text-align: center;
}

section header div.titulo table tr td h2{
	text-align: center;
}

section header div.sobre_mi{
	margin: 10px;
}

section header div h2{
	text-align: center;

}

section header div p{
	text-align: justify;
}


section article div.objetivo{
	
}

section article h2.objetivo{
	text-align: center;
}

section article p.objetivo{
	margin: 15px;
}

section.experiencia div{
	text-align: center;
}

section.experiencia div h2{
	text-align: center;
}

section.experiencia table{
	display: inline-block;
}

section.experiencia table thead{

}
section.experiencia table thead tr{

}

section.experiencia table thead tr th{

}

section.experiencia table thead tr th h4{
	text-align: center;
}

section.experiencia table tbody{

}
section.experiencia table tbody tr{

}

section.experiencia table tbody tr th{

}

section.experiencia table tbody tr th h5{
	text-align: center;
}

section.experiencia table tfoot{

}
section.experiencia table tfoot tr{

}

section.experiencia table tfoot tr td{
	padding:15px;
}

section.experiencia table tfoot tr td li{
	text-align: justify;
	list-style: none;
}

section.educacion h2{
	text-align: center;
}

section.educacion table{
	text-align: center;
	margin: 30px;
}

section.educacion table thead{

}

section.educacion table thead tr{

}

section.educacion table thead tr th{
	padding:7px;
	margin-left:15px;
}

section.educacion table tbody{

}

section.educacion table tbody tr{

}

section.educacion table tbody tr th{
	padding:7px;
}

section.educacion table tbody tr td{
	padding:7px 40px 7px 40px;
	margin-left:10px;
}

section.educacion table tbody tr td a{

}
section.software div{
	text-align: center;
	margin: 30px;
	padding:15px;
	margin-left:80px;
}

section.software div h2{
	text-align: center;
}

section.software div table{
	margin: 20px;
}

section.software div table thead{

}

section.software div table thead tr{

}

section.software div table thead tr th{
	padding: 20px 20px 20px 20px;
	
}

section.software div table tbody tr{

}

section.software div table tbody tr td{
	padding: 0px 35px 10px 35px;
}


section.software div table tbody{

}

@media screen and (max-width: 480px) {
	
	body{
		background: orange;
		display:inline-block;
	}	
