/*
Titulo
sobre_mi
objetivo
experiencia
Fechas
logo
Puestos
Actividades
educacion
Software
*/

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	background-image: url("imagenes/painted-wall_Gy6AG8du_L.jpg");
	background-repeat: no-repeat;
	background-size: 1350px 2500px;
}

section{
	border: groove;
	margin: 17px;
	border-radius: 25px 50px 25px 50px;
	vertical-align: middle;
	display: inline-block;
}

section header{
	margin: auto;
}

section header div{
	display: inline-block;
	margin: auto;
}

section header div img{
	border-radius: 20px 30px 20px 30px;
	margin: 35px;
	width: 100%;
	height: 100%;
}

section header div.titulo{
	margin: 18px;
	border-left: groove;
}

section header div.titulo table{
	margin: 10px;
}

section header div.titulo table tr{
	text-align: center;

}

section header div.titulo table tr th{
	text-align: center;
}

section header div.titulo table tr td h1{
	text-align: center;
}

section header div.titulo table tr td h2{
	text-align: center;
}

section header div.sobre_mi{
	margin: 10px;
}

section header div h2{
	text-align: center;

}

section header div p{
	text-align: justify;
}


section article div.objetivo{
	
}

section article h2.objetivo{
	text-align: center;
}

section article p.objetivo{
	margin: 15px;
}

section div h2.experiencia{
	text-align: center;
}

section div h2 table{
	border: 1px solid red;
}

section ul p.fechas{
	
}

section ul figure.logo{
	
}

section ul li{
	list-style: none;
}

section ul p.puesto{
	
}

section ul li.actividades{
	list-style: none;
}

section.educacion{

}

section h2.educacion{
text-align: center;
}

aside{
	border: solid blue 1px;
	margin: 17px;
	border-radius: 25px 50px 25px 50px;
	text-align: left;
}

aside div{
	text-align: center;
}

aside div div.Software{
	display: inline-block;

}

aside div div.Software h2{

}

aside div.Software h4{
	
}

aside div.Software p{

}

@media screen and (max-width: 480px) {
	
	body{
		background: orange;
		display:inline-block;
	}	
