/*
Fechas
Puestos
Actividades

*/

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}

section{
	border: solid blue 1px;
	margin: 20px;
	border-radius: 25px 50px 25px 50px;
}

section header{
	margin: auto;
}

figure img{
	height: 150px;
	width: 150px;
	border-radius: 25px 50px 25px 50px;
	content: 90%;
	margin: auto;
}

section article div.objetivo{
	display: block;
	clear: both;
	width: 90%;
	margin: 10px;
	box-shadow: red;
	margin: auto;
}

p.objetivo{
	content: 100%;
	margin-left: 40px;
	font-size: 15px;
}

li{
	list-style: none;
	list-style-position: inside;
}

aside{
	border: solid blue 1px;
	margin: 20px;
	border-radius: 25px 50px 25px 50px;
}


@media screen and (max-width: 480px) {
	
	body{
		background: blue;
		display:inline-block;
	}	
