/*
Fechas
Puestos
Actividades

*/

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}

section{
	border: solid blue 1px;
	margin: 17px;
	border-radius: 25px 50px 25px 50px;
	vertical-align: middle;
}

section header{
	margin: auto;
}

section header div{
	margin: auto;
	margin-left: 35px;
	display: inline-block;
	border: solid red 2px;
	width: 300px;
    height: 250px;
    border: 1px solid blue;
    vertical-align: middle;
    line-height: 25px;
}



figure img{
	height: 150px;
	width: 150px;
	border-radius: 25px 50px 25px 50px;
	content: 90%;
	margin: auto;
}

h1{
	height: 40px;
	font-size: 25px;
	text-align: center;
}

h3{
	height: 10px;
	font-size: 20px;
	text-align: center;

}

h2{
	text-align: left;
	margin: 15px;
}

section article{
	display: inline-block;

}

section article div.objetivo{
	display: block;
	clear: both;
	width: 90%;
	margin: 10px;
	box-shadow: red;
	margin: auto;

}

p.objetivo{
	content: 100%;
	margin-left: 40px;
	font-size: 15px;
}

section article div.sobre_mi{
	display: block;
	clear: both;
	width: 100%;
	margin: auto;
	content: 100%;
	line-height: 20px;
}

section.educacion{
	float: left;
    width: 550px;
    height: 600px;
    margin: auto;
    border: 3px solid #73AD21; 
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

li{
	list-style: none;
}

aside{
	float: right;
    width: 550px;
    height: 600px;
    margin: auto;
    border: 3px solid #73AD21; 
    border-radius: 25px 50px 25px 50px;
    padding: 70px 0;
	text-align: center;
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}


@media screen and (max-width: 480px) {
	
	body{
		background: blue;
		display:inline-block;
	}	
}